body{
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    size: 100vh;
}
.navbar{
    opacity: 90%;
    background-color: rgb(190, 203, 215);
}
ul{
    font-style: none;
}