body{
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    size: 100vh;
}
.navbar{
    opacity: 90%;
    background-color: rgb(68, 68, 68);
}
ul{
    font-style: none;
}
.footer{
    bottom: 0px;
    background-color: rgb(68, 68, 68);
    opacity: 90%;
}